* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 37, 12)
}

.root {
    background-color: white;
    display:block;
    justify-content: center;
}

.line1{
    background-color: rgb(110, 172, 110);
    color:black;
    border: groove;
    border-color: rgb(221, 221, 221);
    border-width: 0.2em;
    display:flex;
    justify-content: center;
 }

.line2 {
    display:flex;
    background-color: rgb(251, 205, 153);
    height: 33%;
}

.line3 {
    display: flex;
}

.col1 {
    width: 40%;
}

.col2 {
    width: 35%;
}

.col3 {
    width: 25%;
}

.cell {
    display:flex;
    justify-content: center;
    align-items: center;
}

.sub-big2 {
    background-color: rgb(247, 255, 133);
    justify-content: space-around;
}

.line3 { 
    background-image: url(fondo-tabla);
}