* {
    box-sizing: border-box;
    font-weight: 600;
}

.root {
    background-color: white;
    display:block;
    justify-content: center;
}

.line1{
    background-color: rgb(163, 252, 163);
    color:black;
    border: groove;
    border-color: rgb(221, 221, 221);
    border-width: 0.2em;
    display:flex;
    justify-content: center;
 }

.line2 {
    display: flex;
 }

.col {
    width: 33%;
    border-right: groove;
    border-left: groove;
    border-color: rgb(221, 221, 221);
    border-width: 0.2em;
 }

.col2 {
    width: 34%;
    color: rgb(216, 14, 14)
 }

.cell-center {
    display:flex;
    justify-content: center;
 }

.big-cell1, .big-cell2 {
    height: 66.666%;
}

.small-cell {
    height: 33.333%;
}

.big-cell1 {
    background-color: rgb(158, 255, 255);
    display:flex;
    align-items: center;
}

.big-cell2 {
    background-color: rgb(255, 165, 236);
    display:flex;
    align-items: flex-end;
    justify-content: right;
}

.cell {
    border-bottom: groove;
    border-color: rgb(221, 221, 221);
    border-width: 0.2em;
}