* {
    box-sizing: content-box;
}

.root {
    background-color: white;
}

.table {
    border:solid;
    border-color: black;
    border-width: 0.1em;
    display:inline-block;
}

.main-line {
    display: flex;
}

.line {
    display: flex;
}

.col, .col1 {
    width: 50%;
}

.cell-left {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cell-m, .cell-left, .cell {
    border: solid;
    border-radius: 0.2em;
    border-width: 0.1em;
    margin: 0.05em
   
}
.pinta {
    background-color: blue;
}