* {
    box-sizing: content-box;
}

.root {
    background-color: white;
    display:flex;
    margin: 1em;
}

.table {
    border:solid black 0.05em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    padding:0.2em;
    width: fit-content;


}
.body-table, .cell-right {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}
.cat {
    border: solid 0.05em black;
    font-weight: 600;
}

.main-line, .line-form, .line-table, .line-text {
    display: flex;
    gap:0.1em;
}
.cell-left {
    border: solid 0.05em black;
    width: 5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: solid 0.05em black;
    width: 100%;
}
.cell-right {
    width: 4em;
    
}
